<header class="site-header" role="banner">

    <div class="container">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <div class="header">
            <a href="https://bryanhannes.com">
                <img class="header__logo" src="/assets/bryan-hannes-logo.svg" alt="Bryan Hannes logo">
            </a>
            <ul class="header__menu">
                <li><a href="https://bryanhannes.com">Who is Bryan?</a></li>
                <li><a href="/">Blog</a></li>
            </ul>
        </div>
    </div>
</header>
