---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$font_family: 'montserrat', sans-serif;

body {
  font-family: $font_family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  letter-spacing: normal;
  color: #1c2838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.author-thumb {
  border-radius: 50%;
  width:40px;
  height:40px;
}

a, a:visited {
  color: $brand-color;
}

.wrapper {
  max-width: 1040px;
}

a.post-link {
  text-decoration: none;
  font-size: 36px;
  font-family: $font_family;
  color: #000;
  padding-top: 20px;

  &:hover {
    text-decoration: none;
  }
}

h1.post-title {
  padding-top: 20px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.line {
  width: 80px;
  border: 2px solid $brand-color;
  margin-bottom: 2rem;
}

h1{
  padding-top: 20px;
  font-weight: 500;
  word-break: break-word;
  line-height: 4rem;
  font-size: 3rem;
}

.post-meta {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.post-image {
  border-radius: 10px;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;

  &__post {
    &-subscribe {
      background: #fff;
    }

    width: 100%;
    background: #fff;
    box-shadow: 0 0 24px -5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 0 24px -5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 24px -5px rgba(0,0,0,0.10);
    border-radius: 10px;

    &-content {
      padding: 1rem;
      p {
        word-break: break-word;
      }
    }
    a {
      text-decoration: none;
      color: #1c2838;
    }
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    h3 {
      word-break: break-word;
    }

  }
}
