---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$font_family: 'montserrat', sans-serif;

body {
  font-family: $font_family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  letter-spacing: normal;
  color: #1c2838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.author-thumb{
  border-radius: 50%;
  width:40px;
  height:40px;
}

.site-header {
  border: none;
  border-bottom: 4px solid $brand-color;
  background: #fff;
}

a, a:visited {
  color: $brand-color;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 800px){
    flex-direction: row
  }

  &__logo {
    width: 70px;
    margin-bottom: 20px;

    @media screen and (min-width: 800px){
      margin-bottom: 0;
    }
  }

  &__menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    a {
      margin: 0 10px;
      color: $dark-brand-color;
      font-weight: 400;
      font-size: 18px;
      line-height: 28.8px;
      text-decoration: none;
      font-family: $font_family;
    }
  }
}

.wrapper {
  max-width: 940px;
}

.footer {
  &-wrapper {
    background: #202126;
  }
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  @media screen and (min-width: 800px){
    justify-content: space-between;
    flex-direction: row;
  }

  &__socials {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 800px){
      justify-content: flex-start;
    }

    li {
      color: #fff;

      span {
        margin: 0 10px;
      }
    }

    a {
      margin: 0 10px;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      line-height: 28.8px;
      text-decoration: none;
      font-family: $font_family;
      display: flex;
      align-items: center;


      &:hover {
        color: $brand-color;

        svg {
          fill: $brand-color;
        }
      }
    }
  }
  &__menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items:center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 800px){
      flex-direction: row;
      text-align: right;
    }

    li {
      color: #fff;
    }

    a {
      margin: 0 10px;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      line-height: 28.8px;
      text-decoration: none;
      font-family: $font_family;

      &:hover {
        color: $brand-color;
      }

    }
  }
}
.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

a.post-link {
  text-decoration: none;
  font-size: 36px;
  font-family: $font_family;
  color: #000;
  padding-top: 20px;

  &:hover {
    text-decoration: none;
  }
}

h1.post-title {
  padding-top: 20px;
}
