---
# Only the main Sass file needs front matter(the dashes are enough)
---

@import "minima";

$font_family: 'montserrat', sans-serif;

body {
  font-family: $font_family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  letter-spacing: normal;
  color: #1c2838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.author-thumb {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}



a,
a:visited {
  color: $brand-color;
}

.wrapper {
  max-width: 1040px;
}

a.post-link {
  text-decoration: none;
  font-size: 36px;
  font-family: $font_family;
  color: #000;
  padding-top: 20px;

  &:hover {
    text-decoration: none;
  }
}

h1.post-title {
  padding-top: 20px;
}

h2 {
  margin-top: 40px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.line {
  width: 80px;
  border: 2px solid $brand-color;
  margin-bottom: 2rem;
}

h1 {
  padding-top: 20px;
  font-weight: 500;
  word-break: break-word;
  line-height: 4rem;
  font-size: 3rem;
}

.post-meta {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .author-info {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}

.post-image {
  border-radius: 10px;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.5fr));
  grid-gap: 2rem;

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-gap: 1rem;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 0.5fr));
  }

  &__post {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 24px -5px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0 0 24px -5px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0 24px -5px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;

    &-subscribe {
      background: #fff;
    }

    &-content {
      padding: 1rem;

      p {
        word-break: break-word;
      }
    }

    &:hover {
      text-decoration: none;
      box-shadow: 0 2px 0 $brand-color, -0.1875rem -0.1875rem 0 0.1875rem #ffcd00, 0 0 0 0.375rem $brand-color;
    }

    a {
      text-decoration: none;
      color: #1c2838;
    }

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    h3 {
      word-break: break-word;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  &__post-read-more {

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__button {
      background: $grey-color-light;
      border-radius: 4px;
      padding: 4px 8px;
      color: $brand-color;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9rem;
      transition: 0.3s ease-out;

      &:hover {
        color: $brand-color-dark;
        background: darken($grey-color-light, 5%);
      }

      &__icon {
        width: 1em;
        height: 1em;
      }

    }
  }
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 2rem 0;

  span {
    background: lighten($brand-color, 43%);
    padding: 0.125em 0.5em;
    line-height: 1.5;
    color: $brand-color-dark;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.9rem;

    &:first-child {
      border-left: 8px solid $brand-color;
    }
  }
}

a.button-share-twitter {
  background: #1da1f2;
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s ease-out;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background: darken(#1da1f2, 10%);
  }

  .icon {
    width: 1em;
    height: 1em;
  }

  svg {
    path {
      fill: white;
    }
  }
}
