/**
 * Wrappers and containers
 */
.container {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
  background-color: transparent;

  .container {
    background-color: $background-color-light;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 800px) {
    flex-direction: row
  }

  & .header {
    &__logo {
      width: 70px;
      margin-bottom: 20px;

      @media screen and (min-width: 800px) {
        margin-bottom: 0;
      }
    }

    &__menu {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      li.header__menu__item {
        a {
          margin: 0 10px;
          color: $dark-brand-color;
          font-weight: 400;
          font-size: 18px;
          line-height: 28.8px;
          text-decoration: none;
          transition: 0.2s ease-out;

          &:hover {
            color: $brand-color;
          }
        }
      }
    }
  }

  &__socials {
    display: none;

    svg {
      fill: $dark-brand-color
    }

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Socials
 */

.socials {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 800px) {
    justify-content: flex-start;
  }

  li {
    color: #fff;

    span {
      margin: 0 10px;
    }
  }

  a {
    margin: 0 10px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.2s ease-out;

    &:hover {
      transform: translateY(-3px);

      svg {
        fill: $brand-color;
      }
    }
  }
}

/**
 * Footer
 */


.footer {
  &-wrapper {
    .container {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background: #202126;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  @media screen and (min-width: 800px) {
    justify-content: space-between;
    flex-direction: row;
  }

  &__menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 800px) {
      flex-direction: row;
      text-align: right;
    }

    li {
      color: #fff;
    }

    a {
      margin: 0 10px;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      line-height: 28.8px;
      text-decoration: none;

      &:hover {
        color: $brand-color;
      }
    }
  }
}
