---
layout: default
---
<div class="wrapper">

    <div class="home">
        <h1>Blog</h1>
        <hr class="line" />
        {{ content }}

        {%- if site.posts.size > 0 -%}
        <ul class="post-list">
            {%- for post in site.posts -%}
            <li class="post-list__post">
                <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
                    <img src="/{{post.cover}}" alt="{{ post.title }}">
                    <footer class="post-meta">

                        <img class="author-thumb" src="/assets/bryan-hannes.jpg" alt="Profile picture of Bryan Hannes" nopin="nopin"/>
                        <!-- author -->
                        &nbsp;Bryan Hannes&nbsp;|&nbsp;


                        <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string
                            }}
                        </time>
                    </footer>
                    <div class="post-list__post-content">
                        <h3>{{post.title}}</h3>
                        <p>{{post.description}}</p>

                        {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                        {%- endif -%}
                    </div>
                </a>
            </li>
            {%- endfor -%}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        {%- endif -%}

        {%- include sendblue-subscribe.html -%}

    </div>
</div>
