---
layout: default
---
<div class="wrapper">

    <div class="home">
        <h1>Blog</h1>
        <hr class="line" />
        {{ content }}

        {%- if site.posts.size > 0 -%}
        <ul class="post-list">
            {%- for post in site.posts -%}
            <li class="post-list__post">
                <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
<!--                    <img src="/{{post.cover}}" alt="{{ post.title }}">-->
                    <picture>
                        <source
                                type="image/avif"
                                srcset="/{{post.cover}}@500.avif 500w, /{{post.cover}}@1000.avif 1000w" />
                        <source
                                type="image/webp"
                                srcset="/{{post.cover}}@500.webp 500w, /{{post.cover}}@1000.webp 1000w" />
                        <img
                                src="/{{post.cover}}@500.jpg"
                                srcset="/{{post.cover}}@500.jpg 500w, /{{post.cover}}@1000.jpg 1000w"
                                sizes="(max-width: 500px) 500, 1000w"
                                style="width: 100%; aspect-ratio: 16/9"
                                loading="lazy"
                                decoding="async"
                                alt="{{ post.title | escape  }}"
                        />
                    </picture>

                    <div class="post-list__post-content">
                        <h3>{{post.title}}</h3>
                        <p>{{post.description}}</p>

                        {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                        {%- endif -%}

                        <div class="post-list__post-read-more__wrapper">
                            <span class="post-list__post-read-more__button">
                                <span class="post-list__post-read-more__wrapper">
                               {%- if post.type == 'video' -%}
                             Watch Video
                            {%- else -%}
                                    Learn More
                            {%- endif -%}

                                </span>
                                <svg aria-hidden="true" class="post-list__post-read-more__button__icon" viewBox="0 0 24 24"><path stroke="currentColor" stroke-width="2" d="M9 4l8 8-8 8" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            {%- endfor -%}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        {%- endif -%}

        {%- include sendblue-subscribe.html -%}

    </div>
</div>
